USE [master]
GO
/****** Object:  Database [parking_management]    Script Date: 4/14/2025 8:20:05 PM ******/
CREATE DATABASE [parking_management]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'parking_management', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\parking_management.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'parking_management_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\parking_management_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [parking_management].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [parking_management]
GO
/****** Object:  User [46494cce-bb78-41ce-b1bf-6e08ceb5972f]    Script Date: 4/14/2025 8:20:05 PM ******/
CREATE USER [46494cce-bb78-41ce-b1bf-6e08ceb5972f] FOR LOGIN [lethic] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [2b9c9376-0bd5-11f0-a49a-de14bfca4440]    Script Date: 4/14/2025 8:20:05 PM ******/
CREATE USER [2b9c9376-0bd5-11f0-a49a-de14bfca4440] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [STAFF]    Script Date: 4/14/2025 8:20:05 PM ******/
CREATE ROLE [STAFF]
GO
/****** Object:  DatabaseRole [ADMIN]    Script Date: 4/14/2025 8:20:05 PM ******/
CREATE ROLE [ADMIN]
GO
ALTER ROLE [STAFF] ADD MEMBER [46494cce-bb78-41ce-b1bf-6e08ceb5972f]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [46494cce-bb78-41ce-b1bf-6e08ceb5972f]
GO
ALTER ROLE [db_datareader] ADD MEMBER [46494cce-bb78-41ce-b1bf-6e08ceb5972f]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [46494cce-bb78-41ce-b1bf-6e08ceb5972f]
GO
ALTER ROLE [ADMIN] ADD MEMBER [2b9c9376-0bd5-11f0-a49a-de14bfca4440]
GO
ALTER ROLE [db_owner] ADD MEMBER [2b9c9376-0bd5-11f0-a49a-de14bfca4440]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [STAFF]
GO
ALTER ROLE [db_datareader] ADD MEMBER [STAFF]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [STAFF]
GO
ALTER ROLE [db_owner] ADD MEMBER [ADMIN]
GO
/****** Object:  Table [dbo].[account]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[account_id] [varchar](36) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[role] [varchar](10) NOT NULL,
	[username] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_account_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[active_monthly_registration]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[active_monthly_registration](
	[id] [varchar](36) NOT NULL,
	[expiration_date] [datetime2](6) NOT NULL,
	[issue_date] [datetime2](6) NOT NULL,
	[create_by] [varchar](36) NOT NULL,
	[customer_id] [varchar](36) NOT NULL,
	[payment_id] [varchar](36) NOT NULL,
	[vehicle_id] [varchar](36) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_active_monthly_payment_id] UNIQUE NONCLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[customer_id] [varchar](36) NOT NULL,
	[address] [varchar](200) NOT NULL,
	[customer_type] [varchar](10) NOT NULL,
	[dob] [date] NOT NULL,
	[email] [varchar](100) NOT NULL,
	[gender] [varchar](10) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[phone_number] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[expire_monthly_registration]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[expire_monthly_registration](
	[id] [varchar](36) NOT NULL,
	[expiration_date] [datetime2](6) NOT NULL,
	[issue_date] [datetime2](6) NOT NULL,
	[create_by] [varchar](36) NOT NULL,
	[customer_id] [varchar](36) NOT NULL,
	[payment_id] [varchar](36) NOT NULL,
	[vehicle_id] [varchar](36) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_expire_monthly_payment_id] UNIQUE NONCLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lecturer_information]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lecturer_information](
	[customer_id] [varchar](36) NOT NULL,
	[lecturer_id] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[missing_report]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[missing_report](
	[report_id] [varchar](36) NOT NULL,
	[address] [varchar](200) NOT NULL,
	[brand] [varchar](50) NOT NULL,
	[color] [varchar](30) NOT NULL,
	[create_at] [datetime2](6) NOT NULL,
	[gender] [varchar](10) NOT NULL,
	[identification] [varchar](30) NOT NULL,
	[identifier] [varchar](20) NULL,
	[license_plate] [varchar](20) NULL,
	[name] [varchar](100) NOT NULL,
	[phone_number] [varchar](15) NOT NULL,
	[create_by] [varchar](36) NOT NULL,
	[payment_id] [varchar](36) NOT NULL,
	[record_id] [varchar](36) NULL,
	[vehicle_type] [varchar](36) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[report_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_missing_report_payment_id] UNIQUE NONCLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_missing_report_record_id] UNIQUE NONCLUSTERED 
(
	[record_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[parking_card]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[parking_card](
	[card_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[card_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[parking_record]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[parking_record](
	[record_id] [varchar](36) NOT NULL,
	[entry_time] [datetime2](6) NOT NULL,
	[identifier] [varchar](50) NULL,
	[license_plate] [varchar](20) NULL,
	[type] [varchar](10) NOT NULL,
	[card_id] [int] NOT NULL,
	[staff_in] [varchar](36) NOT NULL,
	[vehicle_type] [varchar](36) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[record_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[parking_record_history]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[parking_record_history](
	[history_id] [varchar](36) NOT NULL,
	[entry_time] [datetime2](6) NOT NULL,
	[exit_time] [datetime2](6) NULL,
	[identifier] [varchar](50) NULL,
	[license_plate] [varchar](20) NULL,
	[type] [varchar](10) NOT NULL,
	[card_id] [int] NOT NULL,
	[payment_id] [varchar](36) NOT NULL,
	[staff_in] [varchar](36) NOT NULL,
	[staff_out] [varchar](36) NULL,
	[vehicle_type] [varchar](36) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_parking_record_history_payment_id] UNIQUE NONCLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment](
	[payment_id] [varchar](36) NOT NULL,
	[amount] [int] NOT NULL,
	[create_at] [datetime2](6) NOT NULL,
	[payment_type] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[price]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[price](
	[type_id] [varchar](36) NOT NULL,
	[day_price] [int] NOT NULL,
	[monthly_price] [int] NOT NULL,
	[night_price] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[staff]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staff](
	[account_id] [varchar](36) NOT NULL,
	[address] [varchar](200) NOT NULL,
	[dob] [date] NOT NULL,
	[email] [varchar](100) NOT NULL,
	[gender] [varchar](10) NOT NULL,
	[identification] [varchar](20) NOT NULL,
	[is_active] [bit] NOT NULL,
	[name] [varchar](100) NOT NULL,
	[phone_number] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_staff_identification] UNIQUE NONCLUSTERED 
(
	[identification] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student_information]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student_information](
	[customer_id] [varchar](36) NOT NULL,
	[class_info] [varchar](50) NOT NULL,
	[faculty] [varchar](100) NOT NULL,
	[major] [varchar](100) NOT NULL,
	[student_id] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vehicle]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehicle](
	[vehicle_id] [varchar](36) NOT NULL,
	[brand] [varchar](50) NULL,
	[color] [varchar](30) NULL,
	[license_plate] [varchar](20) NULL,
	[type_id] [varchar](36) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[vehicle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_vehicle_license_plate] UNIQUE NONCLUSTERED 
(
	[license_plate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vehicle_type]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehicle_type](
	[id] [varchar](36) NOT NULL,
	[name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_vehicle_type_name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[active_monthly_registration]  WITH CHECK ADD FOREIGN KEY([create_by])
REFERENCES [dbo].[account] ([account_id])
GO
ALTER TABLE [dbo].[active_monthly_registration]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[customer] ([customer_id])
GO
ALTER TABLE [dbo].[active_monthly_registration]  WITH CHECK ADD FOREIGN KEY([payment_id])
REFERENCES [dbo].[payment] ([payment_id])
GO
ALTER TABLE [dbo].[active_monthly_registration]  WITH CHECK ADD FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[vehicle] ([vehicle_id])
GO
ALTER TABLE [dbo].[expire_monthly_registration]  WITH CHECK ADD FOREIGN KEY([create_by])
REFERENCES [dbo].[account] ([account_id])
GO
ALTER TABLE [dbo].[expire_monthly_registration]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[customer] ([customer_id])
GO
ALTER TABLE [dbo].[expire_monthly_registration]  WITH CHECK ADD FOREIGN KEY([payment_id])
REFERENCES [dbo].[payment] ([payment_id])
GO
ALTER TABLE [dbo].[expire_monthly_registration]  WITH CHECK ADD FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[vehicle] ([vehicle_id])
GO
ALTER TABLE [dbo].[lecturer_information]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[customer] ([customer_id])
GO
ALTER TABLE [dbo].[missing_report]  WITH CHECK ADD FOREIGN KEY([create_by])
REFERENCES [dbo].[account] ([account_id])
GO
ALTER TABLE [dbo].[missing_report]  WITH CHECK ADD FOREIGN KEY([payment_id])
REFERENCES [dbo].[payment] ([payment_id])
GO
ALTER TABLE [dbo].[missing_report]  WITH CHECK ADD FOREIGN KEY([record_id])
REFERENCES [dbo].[parking_record_history] ([history_id])
GO
ALTER TABLE [dbo].[missing_report]  WITH CHECK ADD FOREIGN KEY([vehicle_type])
REFERENCES [dbo].[vehicle_type] ([id])
GO
ALTER TABLE [dbo].[parking_record]  WITH CHECK ADD FOREIGN KEY([card_id])
REFERENCES [dbo].[parking_card] ([card_id])
GO
ALTER TABLE [dbo].[parking_record]  WITH CHECK ADD FOREIGN KEY([staff_in])
REFERENCES [dbo].[account] ([account_id])
GO
ALTER TABLE [dbo].[parking_record]  WITH CHECK ADD FOREIGN KEY([vehicle_type])
REFERENCES [dbo].[vehicle_type] ([id])
GO
ALTER TABLE [dbo].[parking_record_history]  WITH CHECK ADD FOREIGN KEY([card_id])
REFERENCES [dbo].[parking_card] ([card_id])
GO
ALTER TABLE [dbo].[parking_record_history]  WITH CHECK ADD FOREIGN KEY([payment_id])
REFERENCES [dbo].[payment] ([payment_id])
GO
ALTER TABLE [dbo].[parking_record_history]  WITH CHECK ADD FOREIGN KEY([staff_in])
REFERENCES [dbo].[account] ([account_id])
GO
ALTER TABLE [dbo].[parking_record_history]  WITH CHECK ADD FOREIGN KEY([staff_out])
REFERENCES [dbo].[account] ([account_id])
GO
ALTER TABLE [dbo].[parking_record_history]  WITH CHECK ADD FOREIGN KEY([vehicle_type])
REFERENCES [dbo].[vehicle_type] ([id])
GO
ALTER TABLE [dbo].[price]  WITH CHECK ADD FOREIGN KEY([type_id])
REFERENCES [dbo].[vehicle_type] ([id])
GO
ALTER TABLE [dbo].[staff]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([account_id])
GO
ALTER TABLE [dbo].[student_information]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[customer] ([customer_id])
GO
ALTER TABLE [dbo].[vehicle]  WITH CHECK ADD FOREIGN KEY([type_id])
REFERENCES [dbo].[vehicle_type] ([id])
GO
ALTER TABLE [dbo].[account]  WITH CHECK ADD CHECK  (([role]='STAFF' OR [role]='ADMIN'))
GO
ALTER TABLE [dbo].[customer]  WITH CHECK ADD CHECK  (([customer_type]='STUDENT' OR [customer_type]='LECTURER'))
GO
ALTER TABLE [dbo].[customer]  WITH CHECK ADD CHECK  (([gender]='MALE' OR [gender]='FEMALE'))
GO
ALTER TABLE [dbo].[missing_report]  WITH CHECK ADD CHECK  (([gender]='MALE' OR [gender]='FEMALE'))
GO
ALTER TABLE [dbo].[parking_record]  WITH CHECK ADD CHECK  (([type]='MONTHLY' OR [type]='DAILY'))
GO
ALTER TABLE [dbo].[parking_record_history]  WITH CHECK ADD CHECK  (([type]='MONTHLY' OR [type]='DAILY'))
GO
ALTER TABLE [dbo].[payment]  WITH CHECK ADD CHECK  (([payment_type]='PARKING' OR [payment_type]='MONTHLY' OR [payment_type]='MISSING'))
GO
ALTER TABLE [dbo].[staff]  WITH CHECK ADD CHECK  (([gender]='MALE' OR [gender]='FEMALE'))
GO
/****** Object:  StoredProcedure [dbo].[sp_add_account]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_add_account]
    @p_login_name NVARCHAR(50),
    @p_password NVARCHAR(50),
    @p_default_db NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    -- Tạo login mới
    DECLARE @sql NVARCHAR(4000);
    SET @sql = 'CREATE LOGIN ' + QUOTENAME(@p_login_name) + ' WITH PASSWORD = ' + QUOTENAME(@p_password) + ', DEFAULT_DATABASE = ' + QUOTENAME(@p_default_db);
    EXEC sp_executesql @sql;

    PRINT 'Login created successfully';
END
GO
/****** Object:  StoredProcedure [dbo].[sp_create_active_monthly_registration]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_create_active_monthly_registration]
    @id VARCHAR(36),
    @expiration_date DATETIME2(6),
    @issue_date DATETIME2(6),
    @create_by VARCHAR(36),
    @customer_id VARCHAR(36),
    @payment_id VARCHAR(36),
    @vehicle_id VARCHAR(36)
AS
BEGIN
    INSERT INTO active_monthly_registration (
        id, expiration_date, issue_date, create_by,
        customer_id, payment_id, vehicle_id
    )
    VALUES (
        @id, @expiration_date, @issue_date, @create_by,
        @customer_id, @payment_id, @vehicle_id
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_create_missing_report]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_create_missing_report]
    @report_id VARCHAR(36),
    @address VARCHAR(200),
    @brand VARCHAR(50),
    @color VARCHAR(30),
    @create_at DATETIME2(6),
    @gender VARCHAR(10),
    @identification VARCHAR(30),
    @identifier VARCHAR(20) = NULL,
    @license_plate VARCHAR(20) = NULL,
    @name VARCHAR(100),
    @phone_number VARCHAR(15),
    @create_by VARCHAR(36),
    @payment_id VARCHAR(36),
    @record_id VARCHAR(36) = NULL,
    @vehicle_type VARCHAR(36)
AS
BEGIN
    INSERT INTO missing_report (
        report_id, address, brand, color, create_at, gender,
        identification, identifier, license_plate, name,
        phone_number, create_by, payment_id, record_id, vehicle_type
    )
    VALUES (
        @report_id, @address, @brand, @color, @create_at, @gender,
        @identification, @identifier, @license_plate, @name,
        @phone_number, @create_by, @payment_id, @record_id, @vehicle_type
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_create_price_by_vehicle_type]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_create_price_by_vehicle_type]
    @vehicle_type_id VARCHAR(36),
    @day_price INT,
    @monthly_price INT,
    @night_price INT
AS
BEGIN
    -- Kiểm tra loại phương tiện có tồn tại không
    IF EXISTS (SELECT 1 FROM vehicle_type WHERE id = @vehicle_type_id)
    BEGIN
        INSERT INTO price (type_id, day_price, monthly_price, night_price)
        VALUES (@vehicle_type_id, @day_price, @monthly_price, @night_price);
    END
    ELSE
    BEGIN
        RAISERROR('Vehicle type not found.', 16, 1);
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_create_staff]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_create_staff]
    @account_id VARCHAR(36),
    @address VARCHAR(200),
    @dob DATE,
    @email VARCHAR(100),
    @gender VARCHAR(10),
    @identification VARCHAR(20),
    @is_active BIT,
    @name VARCHAR(100),
    @phone_number VARCHAR(15)
AS
BEGIN
    INSERT INTO staff (account_id, address, dob, email, gender, identification, is_active, name, phone_number)
    VALUES (@account_id, @address, @dob, @email, @gender, @identification, @is_active, @name, @phone_number);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateCustomer]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateCustomer]
    @CustomerID VARCHAR(36),
    @Name VARCHAR(100),
    @Gender VARCHAR(10),
    @DOB DATE,
    @Email VARCHAR(100),
    @PhoneNumber VARCHAR(15),
    @Address VARCHAR(200),
    @CustomerType VARCHAR(10)
AS
BEGIN
    INSERT INTO customer (customer_id, name, gender, dob, email, phone_number, address, customer_type)
    VALUES (@CustomerID, @Name, @Gender, @DOB, @Email, @PhoneNumber, @Address, @CustomerType);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CreatePayment]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreatePayment]
    @PaymentID VARCHAR(36),
    @Amount INT,
    @CreateAt DATETIME2(6),
    @PaymentType VARCHAR(10)
AS
BEGIN
    -- Kiểm tra payment_type hợp lệ
    IF @PaymentType NOT IN ('MISSING', 'MONTHLY', 'PARKING')
    BEGIN
        RAISERROR('Loại thanh toán không hợp lệ.', 16, 1);
        RETURN;
    END

    INSERT INTO payment (payment_id, amount, create_at, payment_type)
    VALUES (@PaymentID, @Amount, @CreateAt, @PaymentType);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateVehicle]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateVehicle]
    @VehicleID VARCHAR(36),
    @Brand VARCHAR(50),
    @Color VARCHAR(30),
    @LicensePlate VARCHAR(20),
    @TypeID VARCHAR(36)
AS
BEGIN
    -- Kiểm tra vehicle_type tồn tại
    IF NOT EXISTS (SELECT 1 FROM vehicle_type WHERE id = @TypeID)
    BEGIN
        RAISERROR('Vehicle type không tồn tại.', 16, 1);
        RETURN;
    END

    INSERT INTO vehicle (vehicle_id, brand, color, license_plate, type_id)
    VALUES (@VehicleID, @Brand, @Color, @LicensePlate, @TypeID);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_delete_account]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_delete_account]
    @p_login_name NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    -- Xóa login
    DECLARE @sql NVARCHAR(4000);
    SET @sql = 'DROP LOGIN ' + QUOTENAME(@p_login_name);
    EXEC sp_executesql @sql;

    PRINT 'Login dropped successfully';
END
GO
/****** Object:  StoredProcedure [dbo].[sp_delete_active_monthly_registration]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_delete_active_monthly_registration]
    @id VARCHAR(36)
AS
BEGIN
    DELETE FROM active_monthly_registration WHERE id = @id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_delete_missing_report]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_delete_missing_report]
    @report_id VARCHAR(36)
AS
BEGIN
    DELETE FROM missing_report WHERE report_id = @report_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_delete_price_by_vehicle_type]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_delete_price_by_vehicle_type]
    @vehicle_type_id VARCHAR(36)
AS
BEGIN
    DELETE FROM price WHERE type_id = @vehicle_type_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_delete_staff]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_delete_staff]
    @account_id VARCHAR(36)
AS
BEGIN
    DELETE FROM staff WHERE account_id = @account_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteCustomer]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteCustomer]
    @CustomerID VARCHAR(36)
AS
BEGIN
    DELETE FROM customer WHERE customer_id = @CustomerID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteVehicle]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteVehicle]
    @VehicleID VARCHAR(36)
AS
BEGIN
    DELETE FROM vehicle WHERE vehicle_id = @VehicleID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_get_active_monthly_registration]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_get_active_monthly_registration]
    @id VARCHAR(36) = NULL
AS
BEGIN
    IF @id IS NULL
        SELECT * FROM active_monthly_registration;
    ELSE
        SELECT * FROM active_monthly_registration WHERE id = @id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_get_missing_report]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_get_missing_report]
    @report_id VARCHAR(36) = NULL
AS
BEGIN
    IF @report_id IS NULL
        SELECT * FROM missing_report;
    ELSE
        SELECT * FROM missing_report WHERE report_id = @report_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_get_price_by_vehicle_type]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_get_price_by_vehicle_type]
    @vehicle_type_id VARCHAR(36)
AS
BEGIN
    SELECT p.type_id, vt.name AS vehicle_type_name, p.day_price, p.monthly_price, p.night_price
    FROM price p
    JOIN vehicle_type vt ON vt.id = p.type_id
    WHERE p.type_id = @vehicle_type_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_get_staff]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_get_staff]
    @account_id VARCHAR(36)
AS
BEGIN
    SELECT * FROM staff WHERE account_id = @account_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCustomer]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetCustomer]
    @CustomerID VARCHAR(36) = NULL
AS
BEGIN
    IF @CustomerID IS NULL
        SELECT * FROM customer;
    ELSE
        SELECT * FROM customer WHERE customer_id = @CustomerID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPayment]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetPayment]
    @PaymentID VARCHAR(36) = NULL,
    @PaymentType VARCHAR(10) = NULL
AS
BEGIN
    SELECT * FROM payment
    WHERE (@PaymentID IS NULL OR payment_id = @PaymentID)
      AND (@PaymentType IS NULL OR payment_type = @PaymentType);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetVehicle]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetVehicle]
    @VehicleID VARCHAR(36) = NULL,
    @TypeID VARCHAR(36) = NULL
AS
BEGIN
    SELECT v.*, vt.name AS vehicle_type_name
    FROM vehicle v
    JOIN vehicle_type vt ON v.type_id = vt.id
    WHERE (@VehicleID IS NULL OR v.vehicle_id = @VehicleID)
      AND (@TypeID IS NULL OR v.type_id = @TypeID);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_increase_price_if_new_year]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_increase_price_if_new_year]
AS
BEGIN
    IF (MONTH(GETDATE()) = 1 AND DAY(GETDATE()) = 1)
    BEGIN
        UPDATE price
        SET
            day_price = CAST(day_price * 1.1 AS INT),
            monthly_price = CAST(monthly_price * 1.1 AS INT),
            night_price = CAST(night_price * 1.1 AS INT);
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_LAYLOGINNAME]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_LAYLOGINNAME] @USERNAME NVARCHAR(50)
AS
BEGIN
    SELECT NAME 
    FROM sys.syslogins 
    WHERE SID = (
        SELECT sid 
        FROM sys.sysusers 
        WHERE name = @USERNAME
    );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_read_accounts]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_read_accounts]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT * FROM account;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TAOLOGIN]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_TAOLOGIN]
  @LGNAME VARCHAR(50),
  @PASS VARCHAR(50),
  @USERNAME VARCHAR(50),
  @ROLE VARCHAR(50)
AS
BEGIN
    DECLARE @RET INT;

    -- Tạo login
    EXEC @RET = SP_ADDLOGIN @LGNAME, @PASS, 'parking_management';
    IF (@RET = 1)  -- LOGIN NAME bị trùng
    BEGIN
        RETURN 1;
    END

    -- Tạo user tương ứng trong DB
    EXEC @RET = SP_GRANTDBACCESS @LGNAME, @USERNAME;
    IF (@RET = 1)  -- USERNAME bị trùng
    BEGIN
        EXEC SP_DROPLOGIN @LGNAME;
        RETURN 2;
    END

    -- Gán role database
    EXEC sp_addrolemember @ROLE, @USERNAME;

    -- Gán role server
    EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin';

    RETURN 0;  -- Thành công
END
GO
/****** Object:  StoredProcedure [dbo].[sp_update_account]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_update_account]
    @p_account_id VARCHAR(36),
    @p_username VARCHAR(50),
    @p_password VARCHAR(255),
    @p_role VARCHAR(50) -- SQL Server không hỗ trợ ENUM, dùng VARCHAR thay thế
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE account
    SET username = @p_username,
        password = @p_password,
        role = @p_role
    WHERE account_id = @p_account_id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_update_active_monthly_registration]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_update_active_monthly_registration]
    @id VARCHAR(36),
    @expiration_date DATETIME2(6),
    @issue_date DATETIME2(6),
    @create_by VARCHAR(36),
    @customer_id VARCHAR(36),
    @payment_id VARCHAR(36),
    @vehicle_id VARCHAR(36)
AS
BEGIN
    UPDATE active_monthly_registration
    SET
        expiration_date = @expiration_date,
        issue_date = @issue_date,
        create_by = @create_by,
        customer_id = @customer_id,
        payment_id = @payment_id,
        vehicle_id = @vehicle_id
    WHERE id = @id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_update_missing_report]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_update_missing_report]
    @report_id VARCHAR(36),
    @address VARCHAR(200),
    @brand VARCHAR(50),
    @color VARCHAR(30),
    @create_at DATETIME2(6),
    @gender VARCHAR(10),
    @identification VARCHAR(30),
    @identifier VARCHAR(20) = NULL,
    @license_plate VARCHAR(20) = NULL,
    @name VARCHAR(100),
    @phone_number VARCHAR(15),
    @create_by VARCHAR(36),
    @payment_id VARCHAR(36),
    @record_id VARCHAR(36) = NULL,
    @vehicle_type VARCHAR(36)
AS
BEGIN
    UPDATE missing_report
    SET
        address = @address,
        brand = @brand,
        color = @color,
        create_at = @create_at,
        gender = @gender,
        identification = @identification,
        identifier = @identifier,
        license_plate = @license_plate,
        name = @name,
        phone_number = @phone_number,
        create_by = @create_by,
        payment_id = @payment_id,
        record_id = @record_id,
        vehicle_type = @vehicle_type
    WHERE report_id = @report_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_update_price_by_vehicle_type]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_update_price_by_vehicle_type]
    @vehicle_type_id VARCHAR(36),
    @day_price INT,
    @monthly_price INT,
    @night_price INT
AS
BEGIN
    UPDATE price
    SET day_price = @day_price,
        monthly_price = @monthly_price,
        night_price = @night_price
    WHERE type_id = @vehicle_type_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_update_staff]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_update_staff]
    @account_id VARCHAR(36),
    @address VARCHAR(200),
    @dob DATE,
    @email VARCHAR(100),
    @gender VARCHAR(10),
    @identification VARCHAR(20),
    @is_active BIT,
    @name VARCHAR(100),
    @phone_number VARCHAR(15)
AS
BEGIN
    UPDATE staff
    SET
        address = @address,
        dob = @dob,
        email = @email,
        gender = @gender,
        identification = @identification,
        is_active = @is_active,
        name = @name,
        phone_number = @phone_number
    WHERE account_id = @account_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateCustomer]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateCustomer]
    @CustomerID VARCHAR(36),
    @Name VARCHAR(100),
    @Gender VARCHAR(10),
    @DOB DATE,
    @Email VARCHAR(100),
    @PhoneNumber VARCHAR(15),
    @Address VARCHAR(200),
    @CustomerType VARCHAR(10)
AS
BEGIN
    UPDATE customer
    SET name = @Name,
        gender = @Gender,
        dob = @DOB,
        email = @Email,
        phone_number = @PhoneNumber,
        address = @Address,
        customer_type = @CustomerType
    WHERE customer_id = @CustomerID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateVehicle]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateVehicle]
    @VehicleID VARCHAR(36),
    @Brand VARCHAR(50),
    @Color VARCHAR(30),
    @LicensePlate VARCHAR(20),
    @TypeID VARCHAR(36)
AS
BEGIN
    -- Kiểm tra vehicle_type tồn tại
    IF NOT EXISTS (SELECT 1 FROM vehicle_type WHERE id = @TypeID)
    BEGIN
        RAISERROR('Vehicle type không tồn tại.', 16, 1);
        RETURN;
    END

    UPDATE vehicle
    SET brand = @Brand,
        color = @Color,
        license_plate = @LicensePlate,
        type_id = @TypeID
    WHERE vehicle_id = @VehicleID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_XOALOGIN]    Script Date: 4/14/2025 8:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XOALOGIN]
  @LGNAME VARCHAR(50),
  @USRNAME VARCHAR(50)
AS
BEGIN
  EXEC SP_DROPUSER @USRNAME
  EXEC SP_DROPLOGIN @LGNAME
END
GO
USE [master]
GO
